/* Default */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* This is constant variables that can be used throughout the project*/
:root {
  --maincolour1: rgb(162, 26, 204);
  --color-white: rgb(255, 255, 255);
  --box-shadow: rgb(158, 97, 158);
  --main-background-colour: rgb(228, 213, 228);
  --search-grey: rgb(150, 149, 149);
  /* Add variables */
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
  display: 0;
}
html {
  font-size: 14px;
}

body {
  width: 100%;
  height: 999px;
  font-family: "Poppins", sans-serif;
  font-size: 0.88rem;
  user-select: none;
  overflow-x: hidden;
  margin: 1%;
  overflow-y: auto;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Top header */

.top-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.top-app-name h1 {
  font-size: 20px;
  font-weight: 800;
}

.top-app-name h1 .color1 {
  color: var(--maincolour1);
}

.user-icon {
  border-radius: 50%;
  background-color: var(--maincolour1);
  width: 25px;
  height: 25px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2%;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Sidebar */

.material-icons-sharp {
  color: black;
}

img {
  width: 100%;
  object-fit: cover;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-weight: 600;
  font-size: 1.4rem;
}

h3 {
  font-weight: 500;
  font-size: 0.87rem;
}

small {
  font-size: 0.76rem;
}

aside {
  height: 100vh;
}

aside .sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  height: 88vh;
  position: relative;
  top: 1.5rem;
  transition: all 0.3s ease;
  width: 200px;
}

aside .sidebar:hover {
  box-shadow: none;
}

aside .sidebar a {
  display: flex;
  align-items: center;
  color: var(--color-info-dark);
  height: 3.7rem;
  gap: 1rem;
  position: relative;
  margin-left: 2rem;
  transition: all 0.3s ease;
  width: min-content;
}

aside .sidebar a span {
  font-size: 1.6rem;
  transition: all 0.3s ease;
}

aside .sidebar a:last-child {
  position: absolute;
  bottom: 2rem;
  width: 100%;
}

aside .sidebar a.active {
  width: 100%;
  color: var(--color-primary);
  background-color: var(--color-light);
  margin-left: 0;
}

aside .sidebar a.active::before {
  content: "";
  width: 6px;
  height: 18px;
  background-color: var(--color-primary);
}

aside .sidebar a.active span {
  color: var(--color-primary);
  margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover span {
  margin-left: 0.6rem;
}

aside .sidebar .message-count {
  background-color: var(--color-danger);
  padding: 2px 6px;
  color: var(--color-white);
  font-size: 11px;
  border-radius: var(--border-radius-1);
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* main */
.container1 {
  display: flex;
  flex-direction: row;
}

.main-container {
  background-color: var(--main-background-colour);
  width: 100%;
  height: 88vh;
  border-radius: 25px;
  margin: 1.5rem;
}

.secondary-container {
  margin: 4%;
}

.dashboard-header {
  font-weight: 500;
  font-size: 40px;
}

.mainmenu-header {
  font-weight: 100;
  font-size: 15px;
  color: var(--search-grey);
  margin-bottom: 2%;
}

.main-information-container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(8, 12%);
  grid-template-rows: repeat(6, 16%);
  gap: 1%;
}

.bugs-info {
  background-color: var(--color-white);
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#total-bugs-ready {
  grid-column: 1/3;
  grid-row: 1/2;
  padding: 3%;
}

#total-bugs-inprogress {
  grid-column: 3/5;
  grid-row: 1/2;
  padding: 3%;
}

#total-bugs-completed {
  grid-column: 5/7;
  grid-row: 1/2;
  padding: 3%;
}

#main-logo-container {
  grid-column: 7/9;
  grid-row: 1/3;
  padding: 3%;
}

.main-logo {
  background-color: var(--color-white);
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
}

.project-list-container {
  background-color: var(--color-white);
  border-radius: 35px;
  grid-column: 1/4;
  grid-row: 2/5;
  padding: 3%;
}

.priority-container {
  background-color: var(--color-white);
  border-radius: 35px;
  grid-column: 4/7;
  grid-row: 2/3;
  padding: 3%;
}

.summary-container {
  background-color: var(--color-white);
  border-radius: 35px;
  grid-column: 4/7;
  grid-row: 3/5;
  padding: 3%;
}

.users-container {
  background-color: var(--color-white);
  border-radius: 35px;
  grid-column: 7/9;
  grid-row: 3/5;
  padding: 4%;
}

.icon {
  background-color: var(--maincolour1);
  width: 70px;
  height: 70px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon .material-icons-sharp {
  color: var(--color-white);
}

.bugs-number {
  font-size: 35px;
}

#total-bugs-ready p a {
  color: red;
}

#total-bugs-inprogress p a {
  color: rgb(9, 182, 9);
}

#total-bugs-completed p a {
  color: var(--maincolour1);
}

.bugs-info-container {
  margin-left: 2%;
}

#main-image {
  width: 73%;
  height: 62%;
}

.project-list-container h2 {
  font-weight: 500;
}

.priority-container h2 {
  font-weight: 500;
}

.priority-circle-container {
  display: flex;
  justify-content: space-around;
}

.high-priority-circle {
  background-color: rgb(255, 125, 125);
  border-radius: 100px;
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(197, 0, 0);
  border: 2px solid rgb(197, 0, 0);
}

.medium-priority-circle {
  background-color: rgb(255, 255, 125);
  border-radius: 100px;
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(199, 179, 0);
  border: 2px solid rgb(199, 179, 0);
}

.low-priority-circle {
  background-color: rgb(121, 255, 125);
  border-radius: 100px;
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(32, 161, 0);
  border: 2px solid rgb(32, 161, 0);
}

.high-priority-number,
.medium-priority-number,
.low-priority-number {
  font-size: 30px;
}

.summary-container h2 {
  font-weight: 500;
}

.users-container h2 {
  font-weight: 500;
}

.background-shadow {
  box-shadow: 5px 5px 10px rgb(144, 140, 146);
}

.background-shadow:hover {
  box-shadow: 5px 5px 10px var(--main-background-colour);
  transition: all 0.3s ease;
}

/* .projects-heading-container {
  display: flex;
  justify-content: baseline;
}

.projects-heading-container .project-search-bar {
  background-color: var(--main-background-colour);
  border-radius: 10px;
  width: 50%;
} */

.dynamic-project-container {
  overflow: hidden;
  overflow-y: scroll;
  height: 80%;
  border-radius: 10px;
  scroll-behavior: smooth;
}

.project {
  background-color: var(--main-background-colour);
  border-radius: 10px;
  height: 50px;
  margin-top: 10px;
}

.add-project-button,
.clear-project-button {
  background-color: var(--maincolour1);
  justify-content: right;
  margin-top: 2%;
  border-radius: 10px;
  height: 40px;
  width: 150px;
  color: white;
  font-family: "Poppins";
  font-size: 15px;
  cursor: pointer;
}

.background-project-shadow {
  box-shadow: 2px 2px 2px rgb(232, 165, 255);
}

.background-project-shadow:hover {
  box-shadow: 5px 5px 5px var(--color-white);
  transition: all 0.3s ease;
  cursor: pointer;
}
